/*------------------------------------*\
    #ACCORDION
\*------------------------------------*/

/*-- Accordion > Container --*/

.accordion {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accordion__card {
    flex: 0 0 100%;
    flex-direction: column;
    position: relative;
    word-wrap: break-word;

    &__body {
        flex: 1 1 auto;
    }
}

.accordion__collapse {
    &__link {
        position: relative;

        &:hover,
        &:focus {
            outline: none;
        }
    }
}
