/*------------------------------------*\
    #BASE
\*------------------------------------*/

body {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    background-color: $color-light;
    color: $text-dark;
    font-family: $font-family-body;
    font-weight: normal;
    line-height: 1.618;
    min-height: 100%;
}


/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/*-- Headings --*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $text-secondary;
    font-family: $font-family-heading;
    font-weight: 700;
}

/*-- Lists --*/

ol {
    counter-reset: theme-custom-counter;
    list-style: none;
    padding: 0;

    li {
        display: flex;
        counter-increment: theme-custom-counter;
        margin-bottom: .5rem;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: counter(theme-custom-counter) ". ";
            color: $text-primary;
            display: inline-block;
            font-family: $font-family-heading;
            font-weight: bold;
            line-height: 1.618;
            margin: -.04rem .5rem 0 0;
        }
    }
}

/*-- Text Modifiers --*/

// Sizing
.lead {
    font-size: 1.45rem;
}

.text-small {
    font-size: 85%;
}

// Fonts
.text-font-body {
    font-family: $font-family-body;
}

.text-font-heading {
    font-family: $font-family-heading;
}

// Coloring
.text-color-primary {
    color: $text-primary;
}

.text-color-secondary {
    color: $text-secondary;
}

.text-color-accent-green {
    color: $color-accent-green;
}

.text-color-light {
    color: $text-light;
}

.text-color-dark {
    color: $text-dark;
}


/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    border-bottom: .0625rem solid rgba($color-dark, .25);
    color: $text-primary;
    padding-bottom: .125rem;
    text-decoration: none;
    @include transition(border-bottom color);

    &:hover,
    &:focus {
        border-bottom-color: currentColor;
        color: $text-primary-lighter;
        text-decoration: none;
    }
}


/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

/*-- FontAwesome Alignment --*/

.util__fa {
    vertical-align: middle;
}

/*-- Responsive Videos (iframe) --*/

.util__video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    iframe {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/*-- Covers --*/

// Image Covers
.util__image-cover,
.util__image-contain {
    position: relative;

    &>img,
    &>svg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.util__image-cover {

    &>img,
    &>svg {
        object-fit: cover;
    }
}

.util__image-contain {

    &>img,
    &>svg {
        object-fit: contain;
    }
}

// Link Covers
.util__link-cover {
    border: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 100vw;
    transition: none;
    white-space: nowrap;
    @include z-index(3);
}
