/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn {
    border: .0625rem solid transparent;
    border-radius: 0;
    line-height: 1.618;
    padding: .5rem 4.5rem;
    white-space: pre-wrap;
    @include transition(all);

    &:hover,
    &:focus {
        outline: 0;
    }
}

/*-- Sizes --*/

.btn--sm {
    font-size: .85rem;
    padding: .35rem 2.25rem;
}

.btn--lg {
    font-size: 1.25rem;
    padding: .75rem 4.75rem;
}

/*-- Styles --*/

.btn--primary {
    background: $color-primary;
    border-color: $color-primary;
    color: $text-light;

    &:hover,
    &:focus {
        background: $color-primary-lighter;
        border-color: $color-primary-lighter;
        color: $text-light;
    }

    &:active {
        background: $color-primary-darker;
        border-color: $color-primary-darker;
    }
}

.btn--secondary {
    background: $color-secondary;
    border-color: $color-secondary;
    color: $text-light;

    &:hover,
    &:focus {
        background: $color-secondary-lighter;
        border-color: $color-secondary-lighter;
        color: $text-light;
    }

    &:active {
        background: $color-secondary-darker;
        border-color: $color-secondary-darker;
    }
}

.btn--light {
    background: $color-light;
    border-color: $color-light;
    color: $text-dark;

    &:hover,
    &:focus {
        background: darken($color-light, 5%);
        border-color: darken($color-light, 5%);
        color: $text-dark;
        outline: 0;
    }

    &:active {
        background: darken($color-light, 10%);
        border-color: darken($color-light, 10%);
    }
}

.btn--dark {
    background: $color-dark;
    border-color: $color-dark;
    color: $text-light;

    &:hover,
    &:focus {
        background: lighten($color-dark, 10%);
        border-color: lighten($color-dark, 10%);
        color: $text-light;
    }

    &:active {
        background: darken($color-dark, 10%);
        border-color: darken($color-dark, 10%);
    }
}

.btn--outline-primary {
    background: transparent;
    border-color: $color-primary;
    color: $text-primary;

    &:hover,
    &:focus {
        background: $color-primary-lighter;
        border-color: $color-primary-lighter;
        color: $text-light;
    }

    &:active {
        background: $color-primary-darker;
        border-color: $color-primary-darker;
    }
}

.btn--outline-secondary {
    background: transparent;
    border-color: $color-secondary;
    color: $text-secondary;

    &:hover,
    &:focus {
        background: $color-secondary-lighter;
        border-color: $color-secondary-lighter;
        color: $text-light;
    }

    &:active {
        background: $color-secondary-darker;
        border-color: $color-secondary-darker;
    }
}

.btn--outline-light {
    background: rgba($color-light, .075);
    border-color: $color-light;
    color: $text-light;

    &:hover,
    &:focus {
        background: $color-light;
        border-color: $color-light;
        color: $text-primary;
    }

    &:active {
        background: darken($color-light, 10%);
        border-color: darken($color-light, 10%);
    }
}

.btn--outline-dark {
    background: transparent;
    border-color: $color-dark;
    color: $text-dark;

    &:hover,
    &:focus {
        background: lighten($color-dark, 10%);
        border-color: lighten($color-dark, 10%);
        color: $text-light;
        outline: 0;
    }

    &:active {
        background: darken($color-dark, 10%);
        border-color: darken($color-dark, 10%);
    }
}
