/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn {
    border: .0625rem solid transparent;
    border-radius: .35rem;
    font-family: $font-family-heading;
    font-weight: bold;
    padding: .75rem 2.25rem;
    text-transform: uppercase;
    white-space: pre-wrap;
    @include transition(all);

    &:hover,
    &:focus {
        outline: 0;
    }
}

/*-- Styles --*/

.btn--primary,
.btn--secondary,
.btn--dark {
    color: $text-light;

    &:hover,
    &:focus,
    &:active {
        color: $text-light;
    }
}

.btn--primary {
    background: $color-primary;
    border-color: $color-primary;

    &:hover,
    &:focus {
        background: $color-primary-lighter;
        border-color: $color-primary-lighter;
    }

    &:active {
        background: $color-primary-darker;
        border-color: $color-primary-darker;
    }
}

.btn--secondary {
    background: $color-accent-green;
    border-color: $color-accent-green;

    &:hover,
    &:focus {
        background: lighten($color-accent-green, 5%);
        border-color: lighten($color-accent-green, 5%);
    }

    &:active {
        background: darken($color-accent-green, 5%);
        border-color: darken($color-accent-green, 5%);
    }
}

.btn--light {
    background: $color-light;
    border-color: $color-light;
    color: $text-primary;

    &:hover,
    &:focus,
    &:active {
        color: $text-primary-lighter;
        box-shadow: .0625rem .0625rem .1875rem rgba($color-dark, .25);
    }
}

.btn--dark {
    background: $color-dark;
    border-color: $color-dark;

    &:hover,
    &:focus {
        background: lighten($color-dark, 10%);
        border-color: lighten($color-dark, 10%);
    }

    &:active {
        background: darken($color-dark, 10%);
        border-color: darken($color-dark, 10%);
    }
}

.btn--outline-primary,
.btn--outline-secondary,
.btn--outline-dark,
.btn--outline-light {
    background: transparent;
}

.btn--outline-primary {
    border-color: $color-primary;
    color: $text-primary;

    &:hover,
    &:focus {
        background: $color-primary-lighter;
        border-color: $color-primary-lighter;
        color: $text-light;
    }

    &:active {
        background: $color-primary-darker;
        border-color: $color-primary-darker;
        color: $text-light;
    }
}

.btn--outline-secondary {
    border-color: $color-accent-green;
    color: $color-accent-green;

    &:hover,
    &:focus {
        background: lighten($color-accent-green, 5%);
        border-color: lighten($color-accent-green, 5%);
        color: $text-light;
    }

    &:active {
        background: darken($color-accent-green, 5%);
        border-color: darken($color-accent-green, 5%);
        color: $text-light;
    }
}

.btn--outline-light {
    border-color: $color-light;
    color: $text-light;

    &:hover,
    &:focus {
        background: $color-light;
        border-color: $color-light;
        color: $text-primary-lighter;
        box-shadow: .0625rem .0625rem .1875rem rgba($color-dark, .25);
    }

    &:active {
        background: $color-light;
        border-color: $color-light;
        color: $text-primary-lighter;
    }
}

.btn--outline-dark {
    border-color: $color-dark;
    color: $text-dark;

    &:hover,
    &:focus {
        background: lighten($color-dark, 10%);
        border-color: lighten($color-dark, 10%);
        color: $text-light;
    }

    &:active {
        background: darken($color-dark, 10%);
        border-color: darken($color-dark, 10%);
        color: $text-light;
    }
}

.btn--shadow {
    box-shadow: 0 .5rem 1rem rgba($color-primary, .15);

    &:hover,
    &:focus {
        box-shadow: 0 1rem 1.5rem rgba($color-primary-lighter, .2);
    }
}
