/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/*-- Structure --*/

$text-footer: lighten($color-dark, 40%);

.footer {
    background: $color-secondary-lighter;
    color: $text-footer;
    padding: 1rem 0;
}

.footer__upper {
    padding: 2.5rem 0;
}

.footer__lower {
    border-top: .0625rem solid rgba($color-gray, .15);
    font-size: .9rem;
    padding: 2.5rem 0 1.25rem;
}

/*-- Content --*/

.footer__contact {
    color: $text-light;
    list-style: none;
    text-align: center;

    a {
        color: $text-light;
    }

    li {
        display: inline-block;
        margin-right: 1.5rem;
        padding-right: 1.5rem;
        position: relative;

        &::after {
            color: $text-footer;
            content: '|';
            position: absolute;
            top: 50%;
            right: -.1rem;
            transform: translateY(-50%);
        }

        &:last-child {
            margin-right: 0;
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.footer__lower__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 auto 2rem;

    @include bp-sm {
        margin: 0 auto 3rem;
        width: 95%;
    }

    @include bp-md {
        width: 90%;
    }

    @include bp-lg {
        width: 85%;
    }

    @include bp-xl {
        width: 80%;
    }

    li {
        margin: 0 0 .5rem .5rem;
        padding-left: .5rem;
        position: relative;

        &::after {
            color: $text-footer;
            content: '|';
            position: absolute;
            top: 50%;
            left: -.05rem;
            transform: translateY(-50%);
        }

        &:first-child {
            margin-left: 0;
            padding-left: 0;

            &::after {
                display: none;
            }
        }
    }

    a {
        color: $text-footer;
        padding: 0;

        &:hover,
        &:focus {
            color: lighten($text-footer, 10%);
        }
    }
}

.footer__copyright {
    margin-bottom: 0;
    text-align: center;
}

/*-- Mobile Footer --*/

.footer__lower__section {}

.footer__lower__section__title {
    .accordion__collapse__link {
        background: $color-secondary-lighter;
        border: 0;
        color: $text-light;
        cursor: pointer;
        display: block;
        font-family: $font-family-heading;
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: .5rem;
        text-align: left;
        width: 100%;

        &:hover,
        &:focus {
            background: lighten($color-secondary-lighter, 10%);
        }
    }
}
