/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/*-- Structure --*/

$text-footer: lighten($color-dark, 40%);

.footer {
    background: $color-secondary-lighter;
    color: $text-footer;
    padding: 1rem 0;
}

.footer__lower {
    border-top: .0625rem solid rgba($color-gray, .15);
    font-size: .9rem;
    padding: 2.5rem 0 1.25rem;
}

/*-- Content --*/

.footer__lower__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 auto 2rem;

    @include bp-sm {
        width: 80%;
        margin: 0 auto 3rem;
    }

    li {
        margin: 0 0 .5rem .5rem;
        padding-left: .5rem;
        position: relative;

        &::after {
            color: $text-footer;
            content: '|';
            position: absolute;
            top: 50%;
            left: -.05rem;
            transform: translateY(-50%);
        }

        &:first-child {
            margin-left: 0;
            padding-left: 0;

            &::after {
                display: none;
            }
        }
    }

    a {
        color: $text-footer;
        padding: 0;

        &:hover,
        &:focus {
            color: lighten($text-footer, 10%);
        }
    }
}

.footer__copyright {
    margin-bottom: 0;
    text-align: center;
}
