/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/*-- Header Structure --*/

.header {
    background: $color-primary;
    color: $color-light;
    padding: 1rem 0;

    @include bp-md {
        padding: 1.5rem 0;
    }
}

.header__inner {
    align-items: center;
    display: flex;
    justify-content: center;

    @include bp-md {
        justify-content: space-between;
    }
}

/*-- Header > Branding --*/

.header__brand {
    position: relative;
    width: 6rem;

    @include bp-md {
        width: 8rem;
    }

    a {
        border: none;
        padding: 0;
    }

    img,
    svg {
        height: auto;
        width: 100%;
    }
}
