/*------------------------------------*\
    #INPUTS
\*------------------------------------*/

.form {
    margin-bottom: 1rem;
}

.form__label {
    font-size: .9rem;
    margin-bottom: .5rem;
}

.form-control,
.custom-select {
    color: lighten($text-dark, 10%);

    &:focus {
        background-color: $color-light;
        border-color: $color-primary-lighter;
        box-shadow: 0 0 0 .2rem rgba($color-primary-lighter, .25);
        color: $text-dark;
        @include transition(all);
    }
}

.form__submit {
    margin-top: 1.5rem;
    padding: 1rem 0;
    text-align: center;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
