/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/*-- Base Navigation --*/

.nav {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.nav__list {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-right: 2rem;

    &:last-child {
        margin-right: 0;
    }
}

/*-- Navigation Types --*/

// Main Navigation
.nav--primary {
    display: none;
    justify-content: space-between;

    @include bp-lg {
        display: flex;
    }

    .nav__list {
        flex-wrap: nowrap;
    }

    .nav__item {
        display: inline-block;
    }

    .nav__item--em {
        margin-right: 1rem;

        .nav__link {
            background: $color-primary-darker;
            border-radius: .35rem;
            display: inline-block;
            padding: .75rem 1.25rem;
            @include transition(background color box-shadow);

            &:hover,
            &:focus {
                // background: $color-primary-lighter;
                background: $color-light;
                color: $text-primary-lighter;
                box-shadow: .0625rem .0625rem .1875rem rgba($color-dark, .25);
            }

            span {
                margin-right: .25rem;
            }
        }
    }

    .nav__link {
        border: none;
        color: rgba($text-light, .75);
        padding: 0;

        &:hover,
        &:focus {
            color: $text-light;
        }
    }
}
