/*------------------------------------*\
    #WP-PAGINATION
\*------------------------------------*/

.posts__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;

    &--prev {
        justify-content: flex-start;
    }

    &--next {
        justify-content: flex-end;
    }
}

.posts__nav__link {
    border: none;
    color: $text-dark;
    font-family: $font-family-heading;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;

    &:hover,
    &:focus {
        color: $text-primary-lighter;
    }
}

.posts__nav__next {
    .posts__nav__link__arrow {
        margin-right: .5rem;
    }
}

.posts__nav__prev {
    .posts__nav__link__arrow {
        margin-left: .5rem;
    }
}
