/*------------------------------------*\
    #WP-POST-SINGLE
\*------------------------------------*/

/*-- Default Single Post Styling --*/

.post-single {

    iframe {
        margin-bottom: 2rem;

        @include bp-md {
            margin-bottom: 2.5rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    img,
    svg {
        max-width: 100%;
    }
}

.post-single__meta {
    font-family: $font-family-heading;
    margin-bottom: .75rem;
}

.post-single__meta--footer {
    font-family: $font-family-body;
    margin-bottom: 2rem;

    @include bp-md {
        margin-bottom: 2.5rem;
    }
}

.post-single__meta__categories,
.post-single__meta__tags {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family-heading;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.post-single__meta__categories {
    color: $color-gray-lighter;
    font-size: .9rem;

    li {
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        border: none;
        color: $color-gray-lighter;
        font-weight: normal;
        padding: 0;

        &:hover,
        &:focus {
            color: $text-primary-lighter;
        }
    }
}

.post-single__meta__tags {
    font-size: .75rem;
    margin-top: 2.5rem;

    li {
        margin-right: .5rem;
        margin-bottom: 1.6rem;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        background: rgba($color-gray-lighter, .2);
        border: none;
        color: $color-gray-darker;
        font-weight: normal;
        padding: .75rem 1rem;
        white-space: nowrap;
        @include transition(all);

        &:hover,
        &:focus {
            background: $color-primary-lighter;
            color: $color-light;
        }
    }
}

.post-single__meta__date {
    color: $color-gray-darker;
}

.post-single__header {
    padding-bottom: 1rem;

    @include bp-sm {
        padding-bottom: 1.5rem;
    }
}

.post-single__title {
    color: $color-primary;
    font-size: 2rem;
    position: relative;

    @include bp-sm {
        font-size: 2.25rem;
    }

    @include bp-md {
        font-size: 2.5rem;
    }
}

.post-single__featured-image {
    height: 14rem;
    width: 100%;
    margin: 2rem auto 1rem;

    @include bp-sm {
        height: 18rem;
        margin: 2.5rem auto 1.5rem;
    }

    @include bp-md {
        height: 22rem;
    }

    @include bp-xl {
        height: 26rem;
        margin: 3rem auto 1.5rem;
    }
}

.post-single__content {
    margin-bottom: 2rem;
    position: relative;

    @include bp-md {
        margin-bottom: 2.5rem;
    }

    p {
        line-height: 1.75;
        margin-bottom: 2rem;

        @include bp-md {
            margin-bottom: 2.5rem;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    img,
    svg {
        max-width: 100%;
        height: auto;
    }
}

.post-single__sharing-container {
    @include bp-md {
        display: initial;
        height: 100%;
        position: absolute;
        top: .75rem;
        left: -3.5rem;
        @include z-index(1);
    }
}

.post-single__sharing {
    border-top: .0625rem solid rgba($color-gray-lighter, .25);
    border-bottom: .0625rem solid rgba($color-gray-lighter, .25);
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 2rem auto 0;
    padding: 1rem 0;

    @include bp-md {
        border: none;
        display: block;
        margin: 0;
        padding: 0;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        left: 0;
        @include z-index(1);
    }

    li {
        height: 2rem;
        width: 2rem;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        @include bp-md {
            margin-right: 0;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    a {
        display: block;
        border: none;
        font-weight: normal;
        height: 100%;
        width: 100%;
        padding: 0;

        svg {
            fill: currentColor;
            height: auto;
            width: 100%;
            opacity: .5;
            transform: scale(1);
            @include transition(fill transform opacity);
        }

        &:hover,
        &:focus {
            svg {
                fill: currentColor;
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }
}
